<div class="menu">
    <span class="change-algo" style="display: none">
        <div class="modal algo-form" style="display: none">

            <div class="side-1-algo side-algo" style="display: none">
                <label>
                    Player 1
                    <textarea></textarea>
                </label>
            </div>

            <div class="side-2-algo side-algo" style="display: none">
                <label>
                    Player 2
                    <textarea></textarea>
                </label>
            </div>
        </div>

        <button class="show-algo">show algo</button>
    </span>

    <button class="quit">quit</button>
</div>

<div class="view"></div>

<div class="info">
    <div class="side-1-health"></div>
    <div class="side-2-health"></div>
</div>

<div class="controls"></div>